<!doctype html>
<html class="no-js" lang="en" dir="ltr">
    <head>
        {% include('partials/head.html') %}
    </head>
    <body>
        <div class="grid-y body-grid">
            <div id="header-container" class="cell shrink">
                {% include('partials/header.html') %}
            </div>  
            <div id="content-container" class="cell shrink">
                {% block content %}
                    There is no content available for this page yet
                {% endblock %}
            </div>
            <div class="footer-container cell auto">
                {% include('partials/footer.html') %}
            </div>
        </div>
        <script src="static/js/vendor/foundation.min.js"></script>
        <script src="static/js/vendor/what-input.js"></script>
        <script src="static/js/vendor/fuse.min.js"></script>
        <script src="static/js/app.js"></script>
        {% for script in scripts %}
            <script src="{{ script }}"></script>
        {% endfor %}
        {% for template in templates %}
            {% include(template) %}
        {% endfor %}
    </body>
</html>