html, body {
    height: 100%;
	overflow: hidden;
	margin: 0;
}
:root {
  --film_size: 10%;
  --tv_size: 33.333333%;
}
#top_pane {
	float: left;
	height: 5vh;
	width: 100%;
	background-color: green;
}
#main_pane {
	float: left;
	height: 90vh;
	width: 100%;
}
#control_pane {
	float: left;
	height: 100%;
	width: 20%;
	background-color: red;
}
#settings_pane {
	float: left;
	width: 100%;
	height: 40%;
	overflow-y: scroll;
    overflow-x: hidden;
}
.title {
    font-size: 90%;
    text-align:center;
    color: white;
}
.title_settings {
    width:35%;
    margin: auto;
    background-color: grey;
}
.input_settings {
    width: 65%;
    margin: auto;
    background-color: mediumslateblue;
}
.input{
    height: 100%;
    width: 90%;
}
#controls_pane {
	float: left;
	width: 100%;
	height: 10%;
}
#vlc_pane {
	float: left;
	width: 100%;
	height: 40%;
}
#view_pane {
	float: left;
	height: 100%;
	width: 80%;
	overflow-y: auto;
    overflow-x: hidden;
	
	background-color:#556;
	background-image: linear-gradient(30deg, #445 12%, transparent 12.5%, transparent 87%, #445 87.5%, #445),
	linear-gradient(150deg, #445 12%, transparent 12.5%, transparent 87%, #445 87.5%, #445),
	linear-gradient(30deg, #445 12%, transparent 12.5%, transparent 87%, #445 87.5%, #445),
	linear-gradient(150deg, #445 12%, transparent 12.5%, transparent 87%, #445 87.5%, #445),
	linear-gradient(60deg, #99a 25%, transparent 25.5%, transparent 75%, #99a 75%, #99a), 
	linear-gradient(60deg, #99a 25%, transparent 25.5%, transparent 75%, #99a 75%, #99a);
	background-size:80px 140px;
	background-position: 0 0, 0 0, 40px 70px, 40px 70px, 0 0, 40px 70px;
}

.detail_style {
	border-radius: 10px;
	background-color: gray;
	opacity: 0.7;
}
#film_collapse {
	width: 100%;
}
#tv_collapse {
	width: 100%;
}
.thumb_outer_style:focus > .testshow {
    visibility: visible;
    width: 66.666666%;
    height: 100%;
    float:right;
    border-radius: 0px 10px 10px 0px;
    background-color: whitesmoke;
}
.thumb_outer_style:focus > .thumb {
	width: 33.33333%;
    border-radius: 10px 0px 0px 10px;
}
.thumb_outer_size_film:focus {
    width: calc(3 * var(--film_size));
}
.thumb_outer_size_tv:focus {
    width: calc(3 * var(--tv_size));
}

.thumb_outer_style {
    float: left;
	box-sizing: border-box;
	padding: 0.2%;
}
.thumb_outer_size_film {
	width: var(--film_size);
	height: 25vh;
	min-height: 100px;
}
.thumb_outer_size_tv {
	width: var(--tv_size);
	height: 25vh;
	min-height: 100px;
}
.thumb {
	width: 100%;
	height: 100%;
    border-radius: 10px;
    float: left;
}
.testshow {
    visibility: hidden;
}
.testshow:focus {
	visibility: visible;
}
.testshow:focus > .testshow{
	visibility: visible;
}
.testshow_episodes {
    /*display:none;*/
    visibility: hidden;
    position: absolute;
    overflow-y: auto;
    height: 90vh;
    width: 80%;
    box-sizing: border-box;
    border-radius: 10px;
	padding: 1%;
    background-color: orange;
    z-index: 0;
}
.cross_box {
    width: 2vh;
    height: 2vh;
    background-color: red;
}
.cross {
    width: 100%;
    height: 100%;
    font-weight: bold;
    text-align: center;
}
.description {
    height: 60%;
    width: 100%;
    font-size:9px;
    overflow-y: auto;
    overflow-x: hidden;
}
#bottom_pane {
	float: left;
	height: 5vh;
	width: 100%;
	background-color: green;
}
.killscroll {
    -ms-overflow-style: none !important;  /* IE 10+ */
    overflow: -moz-scrollbars-none !important;  /* Firefox */
}
.killscroll::-webkit-scrollbar { 
    display: none !important;  /* Safari and Chrome */
}
@media screen and (max-width: 320px) and (orientation: portrait) {
	#control_pane {
	width: 100%;
	height: 12.5vh;
	}
	#view_pane {
	width: 100%
	}
	:root {
	  --film_size: 33.33333%;
	  --tv_size: 33.333333%;
	}
}
@media screen and (max-width: 620px) and (min-width: 321px) and (orientation: portrait) {
	#control_pane {
	width: 100%;
	height: 12.5vh;
	}
	#view_pane {
	width: 100%
	}
	:root {
	  --film_size: 25%;
	  --tv_size: 33.333333%;
	}
}
@media screen and (max-width: 2000px) and (min-width: 621px) and (orientation: portrait) {
	#control_pane {
	width: 100%;
	height: 12.5vh;
	}
	#view_pane {
	width: 100%
	}
}
@media screen and (max-width: 1000px) and (orientation: landscape) {
	:root {
	  --film_size: 12.5%;
	  --tv_size: 33.333333%;
	}
}
@media screen and (max-width: 760px) and (orientation: landscape) {
	:root {
	  --film_size: 16.666666666%;
	  --tv_size: 33.333333%;
	}	
}
@media screen and (max-width: 550px) and (orientation: landscape) {
	:root {
	  --film_size: 25%;
	  --tv_size: 33.333333%;
	}	
}
@media screen and (max-width: 150px) and (orientation: landscape) {
	:root {
	  --film_size: 50%;
	  --tv_size: 33.333333%;
	}	
}