{% for name, thumb, desc, score in film_metadata %}
<div class="large reveal" id="{{ name | replace(' ', '') | replace("'", '') }}" data-reveal>
    <div class="grid-x">
        <div class="small-12">
            <p class="description">{{ desc }}</p>
        </div>
        <div class="small-12">
            <a onclick="httpGet('/play', '{{ name }}')">Play</a>
        </div>
    </div>
    <button class="close-button" data-close aria-label="Close modal" type="button">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
{% endfor -%}
{% for name, thumb, desc in tv_metadata %}
    <div class="large reveal" id="{{ name | replace(' ', '') | replace("'", '') }}" data-reveal>
        <ul class="tabs" data-tabs id="tabs_{{ name | replace(' ', '') | replace("'", '') }}">
            {% for ser in episode_metadata[name] %}
                <li class="tabs-title {% if loop.index == 1 %}is-active{% endif %}"><a href="#tabs_{{ name | replace(' ', '') | replace("'", '') }}_{{ ser }}" aria-selected="true">Series {{ ser }}</a></li>
            {% endfor -%}
        </ul>
        <div class="grid-x">
            <div class="tabs-content" data-tabs-content="tabs_{{ name | replace(' ', '') | replace("'", '') }}">
            {% for ser in episode_metadata[name] %}
                <div class="tabs-panel is-active" id="tabs_{{ name | replace(' ', '') | replace("'", '') }}_{{ ser }}">
                    {% for ep in episode_metadata[name][ser] %}
                        {% for qwe in episode_metadata[name][ser][ep] %}
                            <p>{{ ep }}.) {{ qwe }}</p>
                            <p>{{ episode_metadata[name][ser][ep][qwe] }}</p>
                            <a onclick="httpGet('/play', '{{ name }} - s{{ ser }}e{{ ep }}')">Play</a>
                        {% endfor -%}
                    {% endfor -%}
                </div>
            {% endfor -%}
            </div>
        </div>
        <button class="close-button" data-close aria-label="Close modal" type="button">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
</div>
{% endfor -%}